.page-control {
  position: fixed;
  bottom: var(--page-control-separator);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--controls-height);
  height: var(--controls-height);
  border-radius: 50%;
  background-color: var(--gold);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.page-control:hover {
  background-color: var(--orange);
  color: var(--white);
}

.page-control > span::before {
  font-size: 2em;
}
