.page-control {
  position: fixed;
  bottom: var(--page-control-separator);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--controls-height);
  height: var(--controls-height);
  border: 1px solid var(--white);
  box-shadow: 1px 1px 5px var(--text-color);
  border-radius: 50%;
  background-color: var(--main-color);
  cursor: pointer;
  transition-property: background-color, color, opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}


@media (hover: hover) {
  .page-control:hover {
    background-color: var(--emphasis-color);
    color: var(--light-yellow);
  }
}


.page-control > span::before {
  font-size: 2em;
}
