.shortcuts-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.shortcut {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "NerdFont";
  margin: 1em 0;
}

.shortcut .keys {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}

.shortcut .keys .key {
  font-size: 1em;
  color: var(--black);
  background-color: var(--light-grey);
  padding: 0.2em 0.4em;
  line-height: 1.5em;
  border-radius: var(--border-radius);
}
