.button {
  border: 0;
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 0.5em 1em;
  font-size: 1.25em;
  font-weight: bold;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  user-select: none;
}

@media (hover: hover) {
  .button:hover {
    background: var(--emphasis-color);
  }
}

.button:active {
  background: var(--emphasis-color);
}