.menu-item {
  display: block;
  color: var(--main-color);
  font-size: 1.5em;
  padding: 1em 0;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-radius: var(--border-radius);
  transition-property: background-color, color;
  transition-duration: .3s;
  transition-timing-function: ease-in;
}

.menu-item:hover {
  background-color: var(--emphasis-color);
  color: var(--text-color);
}

.menu-list.hide .menu-item {
  transition-timing-function: ease-out;
  color: transparent;
}
