.menu-item {
  display: block;
  color: var(--yellow);
  font-size: 1.5em;
  padding: 1em 0;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease-in;
  border-radius: var(--border-radius);
}

.menu-item:hover {
  background-color: var(--gold);
  color: var(--black);
}

.menu-list.hide .menu-item {
  transition-timing-function: ease-out;
  color: transparent;
}
