.countdown {
  place-self: center;
  height: min-content;
  display: grid;
  grid-template-areas: 
    "datetarget datetarget"
    "message message";
  gap: 1em;
}

.date-target {
  grid-area: datetarget;
  font-size: 1.25em;
  color: var(--black);
  display: grid;
  gap: 1em;
  grid-template-columns: auto auto;
}

.date-target__date,
.date-target__time {
  display: inline-block;
}
.date-target label {
  display: block;
  padding-left: 0.3em;
  padding-bottom: 0.25em;
}

.date-target input {
  width: 100%;
  padding: 0.25em 0.5em;
  border: 2px solid var(--dark-grey);
  border-radius: var(--border-radius);
  font-size: 1em;
}

.time-diff-message {
  margin: 0;
  grid-area: message;
  font-size: 1.25em;
  color: var(--black);
}

.time-diff-message span {
  display: block;
  padding-left: 1em;
}

.time-diff-message .remaining {
  padding-left: 0;
  font-weight: bold;
} 

