@import url(./variables.css);

.menu-button {
  position: absolute;
  bottom: 2em;
  right: 2em;
  display: inline-block;
  padding: 1em;
  border-radius: 50%;
  background-color: var(--yellow);
  z-index: var(--z-index-modal);
  cursor: pointer;
}

.menu-button:hover {
  background-color: var(--gold);
}
