.section {
  width: 100%;
  height: 100vh;
  display: block;
  padding: var(--section-padding);
}

.section-title {
  display: block;
  color: var(--text-color);
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.section-title h2 {
  margin: 0;
  height: var(--section-title-height);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0.5em;
  border-radius: var(--border-radius);
  border-bottom: 0.01em solid var(--text-color);
  transition-property: background-color, border-bottom;
  transition-duration: 0.2s;
  transition-timing-function: ease;  
}


@media (hover: hover) {
  .section-title h2:hover {
    background-color: var(--altern-color);
  }
}