.digital-alarm {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.digital-alarm figure {
  height: 2.1em;
}
