.digital-clock {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.digital-clock .clock {
  font-family: "Clock";
  font-size: 2.5em;
  padding: 0.25em;
  margin: 0;
  display: flex;
  justify-content: space-between;
  transition: opacity 0.3s ease;
}

.digital-clock .hide {
  opacity: 0;
}

.digital-clock .clock-part {
  text-align: center;
}

.digital-clock .hours,
.digital-clock .minutes,
.digital-clock .seconds,
.digital-clock .format {
  width: 1.2em;
}

.digital-clock .separator {
  width: 0.3em;
}
