.section {
  width: 95%;
  height: 100vh;
  display: block;
  padding: 0.8em;
}

.section-title {
  display: block;
  color: var(--black);
}

.section-title h2:hover {
  background-color: var(--light-grey);
}

.section-title h2 {
  margin: 0;
  padding: 0.35em 0 0.35em 0.5em;
  border-radius: 0.15em;
  border-bottom: 1px solid var(--black);
}
