#assets {
  display: grid;
  grid-template-rows: auto calc(100vh - var(--section-title-height) - (var(--section-padding) * 2) );
}

.assets {
  display: grid;
  grid-template-rows: repeat(2, calc(50% - var(--section-padding)));
  grid-gap: var(--section-padding);
  place-items: center;
}

.asset-image {
  display: block;
  height: 100%;
  padding: 2em;
}

.asset-image img {  
  display: block;
  object-fit: cover;
  height: 100%;
}