@font-face {
  font-family: 'NerdFont';
  src: url(../assets/fonts/NerdFont.woff2) format('woff2'),
    url(../assets/fonts/NerdFont.woff) format('woff');
  font-weight: 600;
  font-style: normal;
}

.nf {
  font-family: 'NerdFont';
}

:root {
  --yellow: #f7df1e;
  --gold: #ffd700;
  --old-gold: #d6b708;
  --dark-grey: #adaaaa;
  --black: #0e0c0c;
  --white: #fafafa;
  --black-transparent: #000000b4;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --z-index-normal: 0;
  --z-index-modal: 1;
  --z-index-alert: 2;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
}

a {
  text-decoration: none;
}
