@font-face {
  font-family: 'NerdFont';
  src: url(../assets/fonts/NerdFont.woff2) format('woff2'),
    url(../assets/fonts/NerdFont.woff) format('woff');
  font-weight: 600;
  font-style: normal;
}

.nf {
  font-family: 'NerdFont';
}
