@font-face {
  font-family: "NerdFont";
  src: url(/assets/fonts/NerdFont.woff2) format("woff2"),
    url(/assets/fonts/NerdFont.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Clock";
  src: url(/assets/fonts/DS-DIGI.TTF) format("truetype");
  font-weight: 600;
  font-style: normal;
}

.nf {
  font-family: "NerdFont";
}

:root {
  --light-yellow: #fff6b0;
  --yellow: #f7df1e;
  --gold: #ffd700;
  --old-gold: #d6b708;
  --orange: #ffad16;
  --light-grey: #e0e0e0;
  --dark-grey: #adaaaa;
  --black: #0e0c0c;
  --dark-blue: #181818;
  --white: #fafafa;
  --black-transparent: #000000c2;
  --border-radius: 0.2em;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", system-ui;
  --z-index-estructural: -1;
  --z-index-normal: 0;
  --z-index-modal: 1;
  --z-index-alert: 2;
  --controls-height: 5em;
}

html {
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--white);
}

a {
  text-decoration: none;
}

#root {
  max-height: 100vh;
  overflow: hidden scroll;
}

/* Tamaño del scroll */
#root::-webkit-scrollbar {
  width: 8px;
}

 /* Estilos barra (thumb) de scroll */
#root::-webkit-scrollbar-thumb {
  background: var(--gold);
}

#root::-webkit-scrollbar-thumb:active {
  background-color: var(--orange);
}

#root::-webkit-scrollbar-thumb:hover {
  background: var(--orange);
}

 /* Estilos track de scroll */
#root::-webkit-scrollbar-track {
  background: var(--light-yellow);
}