@font-face {
  font-family: "NerdFont";
  src: url(/assets/fonts/NerdFont.woff2) format("woff2"),
    url(/assets/fonts/NerdFont.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Clock";
  src: url(/assets/fonts/DS-DIGI.TTF) format("truetype");
  font-weight: 600;
  font-style: normal;
}

.nf {
  font-family: "NerdFont";
}

:root {
  font-family: Arial, Helvetica, sans-serif, system-ui;
  
  --light-yellow: #fff6b0;
  --yellow: #f7df1e;
  --gold: #ffd700;
  --old-gold: #e68200;
  --orange: #ffad16;
  --light-grey: #cfcfcf;
  --grey: #797979;
  --dark-grey: #575757;
  --black: #181818;
  --light-blue: #73dacf;
  --dark: #1d1d1d;
  --dark-blue: #1d1735;
  --white: #ffffff;
  --black-transparent: #000000d5;
  --white-transparent: #ffffffd5;

  /** Schema colors **/
  --main-color: var(--gold);
  --secondary-color: var(--yellow);
  --altern-color: var(--light-grey);
  --emphasis-color: var(--orange);
  --stage-color: var(--light-blue);
  --text-color: var(--black);
  --background-color: var(--white);
  --transparent-color: var(--black-transparent);
  --scrollbar-track-color: var(--light-yellow);
  
  --z-index-estructural: -1;
  --z-index-normal: 0;
  --z-index-modal: 1;
  --z-index-alert: 2;
  
  --controls-height: 4em;
  --page-control-separator: 1em;
  --border-radius: 0.2em;
}

html {
  text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

html {
  overflow: hidden;
}

#root {
  max-height: 100vh;
  scroll-behavior: smooth;
  overflow: hidden scroll;
}

/* Tamaño del scroll */
#root::-webkit-scrollbar {
  width: 8px;
}

 /* Estilos barra (thumb) de scroll */
#root::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

#root::-webkit-scrollbar-thumb:active {
  background-color: var(--emphasis-color);
}

#root::-webkit-scrollbar-thumb:hover {
  background: var(--emphasis-color);
}

 /* Estilos track de scroll */
#root::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

#root.dark {
  --main-color: var(--old-gold);
  --altern-color: var(--dark-grey);
  --text-color: var(--white);
  --background-color: var(--dark);
  --stage-color: var(--dark-blue);
  --scrollbar-track-color: var(--dark-grey);
}

@media (pointer: coarse) {
  :root {
    --controls-height: 4.5em;
    --page-control-separator: 1.6em;
  }
}